@import "../../../styles/styleguide.scss";

.loaderContainer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-auto-rows: minmax(100px, 200px);
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  .photos {
    grid-template-columns: repeat(2, minmax(100px, 200px));
  }
}
