@import "../../../styles/styleguide.scss";

.loaderContainer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    border-radius: 5px;
    background-color: $red_cons_status;
    color: $white-background;
    padding: 2px;
  }
}

.photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-auto-rows: minmax(100px, 200px);
  gap: 5px;
}

@media only screen and (max-width: 767px) {
  .loaderContainer {
    .error {
      width: 75%;
    }
  }

  .photos {
    grid-template-columns: repeat(2, minmax(100px, 200px));
  }
}
