@import "../../../styles/styleguide.scss";

@keyframes image {
  0% {
    scale: (1);
  }
  100% {
    scale: (1.2);
  }
}

.container {
  width: 777px;
  height: 200px;
  border: 1px $gray-border solid;
  border-radius: 5px;
  margin: 10px 0;
  -webkit-box-shadow: 9px 11px 5px -6px $box_shadow;
  -moz-box-shadow: 9px 11px 5px -6px $box_shadow;
  box-shadow: 9px 11px 5px -6px $box_shadow;
  display: flex;

  .imgContainer {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;

    .item {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;

      &:hover {
        animation: image 2s forwards;
        -webkit-animation: image 2s forwards;
      }
    }
  }

  .info {
    margin-left: 5px;

    .commonName {
      color: $primary;
      font-size: 30px;
      text-decoration: none;
      display: block;

      &:hover {
        color: $light_green;
      }
    }

    .scientificName {
      color: $gray-border;
      font-size: 16px;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 94vw;
    height: 150px;
    padding-right: 5px;
    .imgContainer {
      width: 150px;
      height: 150px;
    }
    .info {
      margin-left: 3px;
      width: 50%;
      .commonName {
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .scientificName {
        font-size: 16px;
        margin: 8px 0;
      }
    }
  }
}
