@import "../../../styles/styleguide.scss";

.img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.imgSmall {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 767px) {
  .img {
    width: 150px;
    height: 150px;
  }
}
