@import "../../../styles/styleguide.scss";

:global {
  .awssld {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 80%;
  }
  .awssld__content > img,
  .awssld__content > video {
    object-fit: fill !important;
    width: 80% !important;
    left: 9% !important;
  }
}

.container {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  padding: 100px 0;
  overflow: auto;

  .close {
    position: fixed;
    right: 10px;
    top: 55px;
    font-size: 18px;
    font-weight: 600;
    color: $white-background;

    &:hover {
      cursor: pointer;
    }
  }
}
