$primary: #3a9e2c;
$light_green: #94eb88;
$white-background: #ffffff;
$gray-border: #848484;
$gray-background: #e6e6e6;
$box_shadow: #999;
$black: #000000;

// conservation status
$green_cons_status: #0b6121;
$yellow_cons_status: #aeb404;
$orange_cons_status: #df7401;
$red_cons_status: #b40404;
